.container {
  position: relative;
  width: 100%;
}
.banner{
  width: 100%;
  filter: brightness(100%);
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.bannerText{
  font-size: 75px;
  src: url('https://fonts.googleapis.com/css?family=Handlee');
  font-family: 'Handlee', cursive;
  color: red;
  background-color:rgba(255,255,255,0.8);
  position:absolute;
  padding: 15px;
  margin: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p.white{
  color:white;
  src: url('https://fonts.googleapis.com/css?family=Handlee');
  font-family: 'Handlee', cursive;
}
p.red{
  color:red;
  src: url('https://fonts.googleapis.com/css?family=Handlee');
  font-family: 'Handlee', cursive;
}

.ui.segment{
  border: 1px solid #dc3545;
}

.imageWidth{
  width: 100%;
}
.ingrediants{
  max-width: 600px;
  max-height: 398px;
  background: black;
}

div.black.inverted.segment{
  height: 100%;
}

.imageSegment{
  position: relative;
}

.ratingPos{
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.ui,.segment{
src: url('https://fonts.googleapis.com/css?family=Handlee')!important;
font-family: 'Handlee', cursive !important;
}

div,p,h1,h2,h3,h4,a{
  src: url('https://fonts.googleapis.com/css?family=Handlee')!important;
  font-family: 'Handlee', cursive !important;
}

ul,ol{
  color:white;
  src: url('https://fonts.googleapis.com/css?family=Handlee');
  font-family: 'Handlee', cursive;
  font-size: 20px;
  line-height: 25px;
}
